<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.uni2018</key>
    <array>
      <string>uni2018</string>
      <string>uni201A</string>
      <string>uni201B</string>
      <string>uni201C</string>
      <string>uni201E</string>
      <string>uni201F</string>
      <string>uni3008</string>
      <string>uni300A</string>
      <string>uni300C</string>
      <string>uni300E</string>
      <string>uniFF08</string>
      <string>uniFF3B</string>
      <string>uniFF5B</string>
      <string>uniFF5F</string>
    </array>
    <key>public.kern1.uni2019</key>
    <array>
      <string>uni2019</string>
      <string>uni201D</string>
      <string>uni3001</string>
      <string>uni3002</string>
      <string>uni3009</string>
      <string>uni300B</string>
      <string>uni300D</string>
      <string>uni300F</string>
      <string>uniFF01</string>
      <string>uniFF01.FE00</string>
      <string>uniFF09</string>
      <string>uniFF0C</string>
      <string>uniFF0C.FE00</string>
      <string>uniFF0E</string>
      <string>uniFF0E.FE00</string>
      <string>uniFF1A</string>
      <string>uniFF1B</string>
      <string>uniFF1F</string>
      <string>uniFF1F.FE00</string>
      <string>uniFF3D</string>
      <string>uniFF5D</string>
      <string>uniFF60</string>
    </array>
    <key>public.kern2._empty_lu.0_st.0_cl.0</key>
    <array/>
    <key>public.kern2.uni2018</key>
    <array>
      <string>uni2018</string>
      <string>uni201A</string>
      <string>uni201B</string>
      <string>uni201C</string>
      <string>uni201E</string>
      <string>uni201F</string>
      <string>uni3008</string>
      <string>uni300A</string>
      <string>uni300C</string>
      <string>uni300E</string>
      <string>uniFF08</string>
      <string>uniFF3B</string>
      <string>uniFF5B</string>
      <string>uniFF5F</string>
    </array>
    <key>public.kern2.uni2019</key>
    <array>
      <string>uni2019</string>
      <string>uni201D</string>
      <string>uni3001</string>
      <string>uni3002</string>
      <string>uni3009</string>
      <string>uni300B</string>
      <string>uni300D</string>
      <string>uni300F</string>
      <string>uniFF01</string>
      <string>uniFF01.FE00</string>
      <string>uniFF09</string>
      <string>uniFF0C</string>
      <string>uniFF0C.FE00</string>
      <string>uniFF0E</string>
      <string>uniFF0E.FE00</string>
      <string>uniFF1A</string>
      <string>uniFF1B</string>
      <string>uniFF1F</string>
      <string>uniFF1F.FE00</string>
      <string>uniFF3D</string>
      <string>uniFF5D</string>
      <string>uniFF60</string>
    </array>
  </dict>
</plist>
